body {
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Source Sans Pro', sans-serif;    
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    line-height: 1.45em;
    color: #383838;
    margin: 0;
}

nav {
    background: #e8f5f7;
    padding: 2.5% 7.5%;
}

#main-nav {
    background: #ffffff;
}

nav ul {
    font-family: 'Source Sans Pro', sans-serif;   
    font-weight: bold;
    padding-bottom: 5%;  
    display: inline;
    list-style-type: none;
}

nav ul li {
    float: right;
    padding-left: 5%;
    text-transform: uppercase;
    letter-spacing: 1px;    
}

nav ul li a {
    text-decoration: none;
    color: #383838;
}

nav ul li a:hover {
    color: #ef4a3e;
}

nav ul li a:active {
    color: #ef4a3e;
}

#logo {
    vertical-align: middle;
    width: 35%;
    margin-right: 20px;
    margin-top: 15px;
}

#existing-user {
    background-color: #ef4a3e;
    padding: 3.5% 7.5%;
    margin: 0 auto;
    display: flex;
    justify-content: flex-start;
}

#existing-user  {
    font-weight: bold;
}

#existing-user  input{
    margin: 0 40px 0 20px;
}

button {
    border-radius: 25px;
    border-style: none;
    border-width: 1px;
    padding: 7.5px 20px;
    height: 40px;
    font-family: 'Source Sans Pro', sans-serif; 
    font-size: 1em;  
    font-weight: bold;
    color: #383838;
}

button#find {
    background-color: #e8f5f7;
    display: inline;
    /* &:hover, &:focus: {
        background: */
}

button#find:hover{
    background-color: #ef4a3e;
}

button#submit-user {
    background-color: #8FB996;
    display: block;
    clear: left;
    text-transform: uppercase;
    letter-spacing: 1px;
}

#new-user {
    /* margin-top: 5%; */
}

fieldset {
    padding: 5% 7.5%;
    background-color: #e8f5f7;
    border: none;
}

label {
    /* text-align: right; */
    clear: both;
    float:left;
    font-size: 1.3em;
    line-height: 2em;
    padding: 5px 0;
}

#weather-view {
    padding: 2.5% 7.5%;
}

input {
    margin-left: 10px;
    padding: 10px 10px;
    border: none;
}

#checkbox-list {
    display: block;
    float: left;
    margin-bottom: 15px;
}

input[type="radio"] + .side-label::before,
input[type="radio"] + .side-label::after {
  border-radius: 50%;
}