nav {
    background: #e8f5f7;
    padding: 2.5% 7.5%;
}

#main-nav {
    background: #ffffff;
}

nav ul {
    font-family: 'Source Sans Pro', sans-serif;   
    font-weight: bold;
    padding-bottom: 5%;  
    display: inline;
    list-style-type: none;
}

nav ul li {
    float: right;
    padding-left: 5%;
    text-transform: uppercase;
    letter-spacing: 1px;    
}

nav ul li a {
    text-decoration: none;
    color: #383838;
}

nav a:hover, a:focus, a:active {
    color: #ef4a3e;
    text-decoration: none;
}

nav a {
    position: relative;
    display: block;
    padding: 16px 0;
    margin: 0 12px;
    transition: color 0.1s,background-color 0.1s,padding 0.2s ease-in;
    color: #ef4a3e;
}

a::before {
    content: '';
    position: absolute;
    bottom: 3px;
    height: 3px;
    width: 100%;
    background-color: #ef4a3e;
    transform-origin: right top;
    transform: scale(0, 1);
    transition: color 0.1s,transform 0.2s ease-out;
}

a:hover::before, a:focus::before {
    transform-origin: left top;
    transform: scale(1, 1);
}

button {
    border-radius: 25px;
    border-style: none;
    border-width: 1px;
    padding: 7.5px 20px;
    height: 40px;
    font-family: 'Source Sans Pro', sans-serif; 
    font-size: 1em;  
    font-weight: bold;
    color: #383838;
}

button#find {
    background-color: #e8f5f7;
    display: inline;
}

button#find:hover{
    background-color: #F69C95;
}

button#submit-user {
    background-color: #59C9A5;
    display: block;
    clear: left;
    text-transform: uppercase;
    letter-spacing: 1px;
}

button#submit-user:hover{
    background-color: #86D7BD;
}

fieldset {
    padding: 5% 7.5%;
    background-color: #e8f5f7;
    border: none;
}

label {
    clear: both;
    float:left;
    font-size: 1.3em;
    line-height: 2em;
    padding: 5px 0;
}

input {
    margin-left: 10px;
    padding: 10px 10px;
}

#existing-user input {
    border: none;
}

#checkbox-list {
    display: block;
    float: left;
}